#### 001 - Déclarer des variables

In [1]:
prenom = "Pierre"
age = 20
majeur = True
compte_en_banque = 20135.384
amis = ["Marie", "Julien", "Adrien"]
parents = ("Marc", "Caroline")

print(prenom)
print(age)
print(majeur)
print(compte_en_banque)
print(amis)
print(parents)

Pierre
20
True
20135.384
['Marie', 'Julien', 'Adrien']
('Marc', 'Caroline')

#### 002 - Erreur déclaration variable

In [ ]:
## site_web = 'Udemy"
site_web = "Udemy"
print(site_web)

#### 003 - Convertir une variable d'un type à un autre

In [2]:
nombre = 15
print("Le nombre est " + str(nombre))

Le nombre est 15

#### 004 - Trouver la valeur d'une variable

In [ ]:
a = 3
b = 6
a = b
b = 7

print(6)

#### 005 - Ajouter un séparateur dans la fonction print

In [ ]:
a = 2
b = 6
c = 3

print(str(a), str(b), str(c), sep=" + ")

#### 006 - Erreur dans la déclaration d'une variable

In [ ]:
list1 = range(3)
list2 = range(5)

print(list(list2))

#### 007 - Vérifier si une variable est d'un certain type

In [ ]:
prenom = "Pierre"

# INSÉRER VOTRE CONDITION ICI.
# Votre condition doit vérifier si la variable prenom est bien une chaîne de caractère. Ici c'est le cas,
# votre condition doit donc être vraie et printer la phrase "La variable est une chaîne de caractères".
if isinstance(prenom, str):
    print("La variable est une chaîne de caractères")

prenom = 0

# INSÉRER VOTRE CONDITION DE NOUVEAU
# Cette fois-ci, la variable n'est pas égale à une chaîne de caractère. Votre condition doit donc être fausse et 
# la phrase ne doit pas s'afficher.
if isinstance(prenom, str):
    print("La variable est une chaîne de caractères")

#### 008 - Remplacer un mot par un autre

In [1]:
phrase = "Bonjour tout le monde."
nouvelle_phrase = phrase.replace("Bonjour", "Bonsoir")

print(nouvelle_phrase)

Bonsoir tout le monde.

#### 009 - Ordonner une chaîne de caractère

In [7]:
chaine = "Pierre, Julien, Anne, Marie, Lucien"
ma_liste = chaine.split(", ")
ma_liste_triee = sorted(ma_liste)
ma_chaine = ", ".join(ma_liste_triee)
print(ma_chaine)

Anne, Julien, Lucien, Marie, Pierre

#### 010 - Calculer le volume d'une sphère

In [10]:
from math import pi


rayon = 10.0
volume = rayon ** 3 * 4 / 3 * pi
print(volume)

4188.790204786391

#### 011 - Tester si un nombre est plus grand que 10

In [11]:
a = 12

if isinstance(a, int):
    if a > 10:
        print("a est plus grand que 10")
    else:
        print("a est plus petit ou égale à 10")
else:
    print("La variable n'est pas un entier")

a est plus grand que 10

#### 012 - Créer une liste de nombres de 5 à 15

In [16]:
ma_liste = [x  for x in range(5,16)]
print(ma_liste)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

#### 013 - Créer une liste de nombres pairs de 1 à 100

In [17]:
list_pair = [x  for x in range(1, 101) if x % 2 == 0]
print(list_pair)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

#### 014 - Créer un générateur de lancer de dés

In [21]:
from random import randint


for alea in range(6):
    print(randint(1, 6))

2
4
1
5
3
2

#### 015 - Compter le nombre d'occurrences d'une lettre dans une phrase

In [23]:
lettre_a_chercher = "o"
phrase = "Bonjour tout le monde"
occurences = phrase.lower().count(lettre_a_chercher)
print(occurences)

4

#### 016 - Récupérer un élément dans une liste

In [24]:
ma_liste = ["Pierre", "Paul", "Marie"]
print(ma_liste[0])

Pierre

#### 017 - Récupérer des éléments dans une liste

In [26]:
ma_liste = ["Pierre", "Paul", "Marie"]
print(ma_liste[0])
print(ma_liste[-1])
print(ma_liste[:2])
print(ma_liste[-2:])

Pierre
Marie
['Pierre', 'Paul']
['Paul', 'Marie']

#### 018 - Récupérer un élément sur deux dans une liste

In [27]:
ma_liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(ma_liste[::2])

[1, 3, 5, 7, 9]

#### 019 - Ajouter plusieurs éléments à une liste

In [28]:
ma_liste = [1, 2, 3]
ma_liste.extend([4, 5, 6])
print(ma_liste)

[1, 2, 3, 4, 5, 6]

#### 020 - Récupérer les éléments communs à deux listes

In [32]:
liste_01 = [1, 5, 6, 7, 9, 10, 11]
liste_02 = [2, 3, 5, 7, 8, 10, 12]
print(list(set(liste_01).intersection(set(liste_02))))

intersection = []

for x in liste_01:
    if x in liste_02:
        intersection.append(x)

print(intersection)

[10, 5, 7]
[5, 7, 10]

#### 021 - Trier une liste de tuples

In [33]:
liste = [("Harry Potter", 5), ("Wall-E", 3), ("Blade Runner", 4)]

# Trier la liste ici
liste.sort(key=lambda x: x[1])

print(liste)

[('Wall-E', 3), ('Blade Runner', 4), ('Harry Potter', 5)]

#### 022 - Récupérer une valeur dans un dictionnaire

In [34]:
employes = {"01": {"identite": {"prenom": "Pierre", "nom": "Dupont"}}}
print(employes["01"]["identite"]["prenom"])
print(employes.get("01").get("identite").get("prenom"))

Pierre
Pierre

#### 023 - Additionner les valeurs d'un dictionnaire

In [ ]:
employes = {"Pierre": 2500, "Marie": 5000, "Julien": 1200}
somme = 0

for x in employes.values():
    somme += x

print(somme)

8700

#### 047 - Additionner les chiffres d'un nombre

In [4]:
nombre = 209812
somme = 0
for x in str(nombre):
    somme += int(x)

print(somme)

### Comprehension
print(sum([int(x) for x in str(nombre)]))

22
22

#### 048 - Remplacer un élément dans une liste

In [6]:
liste = ["Pierre", "Marie", "Julie", "Adrien", "Julie"]
nom_a_chercher = "Julie"
nouveau_nom = "Julien"

liste = [x if x != nom_a_chercher else nouveau_nom for x in liste]
print(liste)

['Pierre', 'Marie', 'Julien', 'Adrien', 'Julien']

In [7]:
liste = ["Pierre", "Marie", "Julie", "Adrien", "Julie"]
 
nom_a_chercher = "Julie"
nouveau_nom = "Julien"
 
liste = [x.replace(nom_a_chercher, nouveau_nom) for x in liste]
print(liste)

['Pierre', 'Marie', 'Julien', 'Adrien', 'Julien']

#### 049 - Enlever les doublons d'une liste

In [16]:
nombres = [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7, 8, 9, 10]
nombre_sans_double = list(set(nombres))
print(nombre_sans_double)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
liste_sans_doublons = []
for x in nombres:
    if x not in liste_sans_doublons:
        liste_sans_doublons.append(x)
print(liste_sans_doublons)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

####  050 - Printer une phrase tant que l'utilisateur le demande

In [19]:
compteur = 0
reponse = "o"
while reponse == "o":
    compteur += 1
    reponse = input("Voulez-vous continuer ? (o/n) ")
    print(compteur)

1
2
3
4
5
6
7

#### 051 - Ajouter des éléments à un dictionnaire

In [22]:
employes = {}
compteur = 1
liste = [10, 2329, 5, "Pierre", 203, "Marie", 867, "Adrien"]
for i in range(len(liste)):
    if isinstance(liste[i], str):
        employes['id-0' + str(compteur)] = liste[i]
        compteur += 1
print(employes)

{'id-01': 'Pierre', 'id-02': 'Marie', 'id-03': 'Adrien'}

#### 052 - Créer un dictionnaire avec les lettres de l'alphabet

In [24]:
import string
alphabet = string.ascii_lowercase
alphabet_dic = {}
for i in range(len(alphabet)):
    alphabet_dic[i + 1] = alphabet[i]
print(alphabet_dic)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h', 9: 'i', 10: 'j', 11: 'k', 12: 'l', 13: 'm', 14: 'n', 15: 'o', 16: 'p', 17: 'q', 18: 'r', 19: 's', 20: 't', 21: 'u', 22: 'v', 23: 'w', 24: 'x', 25: 'y', 26: 'z'}

#### 053 - Recréer la fonction len

In [27]:
def longueur(variable):
    compteur = 0
    for x in variable:
        compteur += 1
    return compteur
print(longueur("bonjour"))

7

#### 054 - Créer un motif avec des print

In [9]:
n = 8
symbole = "*"
nombres = list(range(1, n+1)) + list(range(n-1,0, -1))
for nombre in nombres:
    print(symbole*nombre)

[1, 2, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3, 2, 1]
*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

#### 055 - Créer une pyramide de symboles

In [10]:
symbole = "$"
 
taille = 10
 
for i in range(1, taille + 1):
    espaces = " " * (taille - i)
    print(espaces + (symbole + " ") * i)

         $
        $ $
       $ $ $
      $ $ $ $
     $ $ $ $ $
    $ $ $ $ $ $
   $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $
 $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

#### Write a Python program to triple all numbers in a given list of integers. Use Python map.

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_triple_liste = list(map(lambda x: x * 3, my_list))
print(my_triple_liste)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#### Write a Python program to add three given lists using Python map and lambda.

In [3]:
add_three = list(map(lambda x: x + 3, my_list))
print(add_three)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

#### Write a Python program to listify the list of given strings individually using Python map

In [5]:
# Create a list named 'color' containing strings representing colors
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
	
# Print the original list of colors
print("Original list:")
print(color)

# Print a message indicating the operation to be performed
print("\nAfter listify the list of strings are:")

# Use the map function to apply the list function to each element of 'color'
result = list(map(list, color))

# Print the result of the map operation, converting each string to a list of characters
print(result)

Original list:
['Red', 'Blue', 'Black', 'White', 'Pink']

After listify the list of strings are:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

#### Power of a number in bases raises to the corresponding number

In [7]:
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(map(pow, bases_num, index))
print(result)

[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

#### Write a Python program to square the elements of a list using the map() function

In [9]:
import math
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
result = list(map(math.sqrt, bases_num))
print(result)

[3.1622776601683795, 4.47213595499958, 5.477225575051661, 6.324555320336759, 7.0710678118654755, 7.745966692414834, 8.366600265340756, 8.94427190999916, 9.486832980505138, 10.0]

#### Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [12]:
def change_cases(s):
    return str(s).upper(), str(s).lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

result = map(change_cases, chrars)
print(set(result))

{('A', 'a'), ('B', 'b'), ('U', 'u'), ('E', 'e'), ('I', 'i'), ('O', 'o'), ('F', 'f')}

#### Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [15]:
def addition_soustraction(x, y):
    return x+y, x-y

nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]

result = list(map(addition_soustraction, nums1, nums2))
print(result)

[(6, 6), (6, 4), (10, -4), (16, 2)]