In [4]:
import findspark
findspark.init()
import pyspark
import pandas as pd

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#### Create the Spark session

In [6]:
spark = SparkSession.builder.getOrCreate()

#### Create the DataFrame

In [19]:
emp = [(1, "AAA", 1, 1000),
       (2, "BBB", 1, 1500),
       (3, "CCC", 1, 3000),
       (4, "DDD", 2, 1500),
       (5, "EEE", 2, 8000),
       (6, "FFF", 3, 2000),
       (7, "GGG", 4, 2500)]

dept = [(1, "dept1", "dept1_loc"),
        (2, "dept2", "dept2_loc"),
        (3, "dept3", "dept3_loc"),
        (4, "dept4", "dept4_loc"),
        (5, "dept5", "dept5_loc")]

In [20]:
df = spark.createDataFrame(emp, ["emp_id", "emp_name", "dept_id", "salary"])
df2 = spark.createDataFrame(dept, ["dept_id", "dept_name", "dept_loc"])

In [21]:
df.show()
df2.show()

+------+--------+-------+------+
|emp_id|emp_name|dept_id|salary|
+------+--------+-------+------+
|     1|     AAA|      1|  1000|
|     2|     BBB|      1|  1500|
|     3|     CCC|      1|  3000|
|     4|     DDD|      2|  1500|
|     5|     EEE|      2|  8000|
|     6|     FFF|      3|  2000|
|     7|     GGG|      4|  2500|
+------+--------+-------+------+

+-------+---------+---------+
|dept_id|dept_name| dept_loc|
+-------+---------+---------+
|      1|    dept1|dept1_loc|
|      2|    dept2|dept2_loc|
|      3|    dept3|dept3_loc|
|      4|    dept4|dept4_loc|
|      5|    dept5|dept5_loc|
+-------+---------+---------+

#### INNER JOIN

In [23]:
df.join(df2, df.dept_id == df2.dept_id, 'inner').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
+------+--------+-------+------+-------+---------+---------+

#### LEFT JOIN

In [18]:
df.join(df2, df.dept_id == df2.dept_id, 'left').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
+------+--------+-------+------+-------+---------+---------+

#### RIGHT JOIN

In [22]:
df.join(df2, df.dept_id == df2.dept_id, 'right').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
|  NULL|    NULL|   NULL|  NULL|      5|    dept5|dept5_loc|
+------+--------+-------+------+-------+---------+---------+

#### FULL JOIN

In [26]:
df.join(df2, df.dept_id == df2.dept_id, 'full').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
|  NULL|    NULL|   NULL|  NULL|      5|    dept5|dept5_loc|
+------+--------+-------+------+-------+---------+---------+

In [29]:
df.createOrReplaceTempView("emp")

In [32]:
spark.sql("select * from emp").show()

+------+--------+-------+------+
|emp_id|emp_name|dept_id|salary|
+------+--------+-------+------+
|     1|     AAA|      1|  1000|
|     2|     BBB|      1|  1500|
|     3|     CCC|      1|  3000|
|     4|     DDD|      2|  1500|
|     5|     EEE|      2|  8000|
|     6|     FFF|      3|  2000|
|     7|     GGG|      4|  2500|
+------+--------+-------+------+