In [1]:
!pip install pyspark
!pip install findspark
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\melchi\appdata\roaming\python\python311\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\melchi\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: findspark in c:\users\melchi\appdata\roaming\python\python311\site-packages (2.0.1)

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\program files\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [2]:
import findspark
findspark.init()
import pyspark
import pandas as pd

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#### Create the Spark session

In [4]:
spark = SparkSession.builder.getOrCreate()

#### Create the DataFrame

In [5]:
emp = [(1, "AAA", 1, 1000),
       (2, "BBB", 1, 1500),
       (3, "CCC", 1, 3000),
       (4, "DDD", 2, 1500),
       (5, "EEE", 2, 8000),
       (6, "FFF", 3, 2000),
       (7, "GGG", 4, 2500)]

dept = [(1, "dept1", "dept1_loc"),
        (2, "dept2", "dept2_loc"),
        (3, "dept3", "dept3_loc"),
        (4, "dept4", "dept4_loc"),
        (5, "dept5", "dept5_loc")]

In [6]:
df = spark.createDataFrame(emp, ["emp_id", "emp_name", "dept_id", "salary"])
df2 = spark.createDataFrame(dept, ["dept_id", "dept_name", "dept_loc"])

In [7]:
df.show()
df2.show()

+------+--------+-------+------+
|emp_id|emp_name|dept_id|salary|
+------+--------+-------+------+
|     1|     AAA|      1|  1000|
|     2|     BBB|      1|  1500|
|     3|     CCC|      1|  3000|
|     4|     DDD|      2|  1500|
|     5|     EEE|      2|  8000|
|     6|     FFF|      3|  2000|
|     7|     GGG|      4|  2500|
+------+--------+-------+------+

+-------+---------+---------+
|dept_id|dept_name| dept_loc|
+-------+---------+---------+
|      1|    dept1|dept1_loc|
|      2|    dept2|dept2_loc|
|      3|    dept3|dept3_loc|
|      4|    dept4|dept4_loc|
|      5|    dept5|dept5_loc|
+-------+---------+---------+

#### INNER JOIN

In [8]:
df.join(df2, df.dept_id == df2.dept_id, 'inner').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
+------+--------+-------+------+-------+---------+---------+

#### LEFT JOIN

In [9]:
df.join(df2, df.dept_id == df2.dept_id, 'left').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
+------+--------+-------+------+-------+---------+---------+

#### RIGHT JOIN

In [10]:
df.join(df2, df.dept_id == df2.dept_id, 'right').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
|  NULL|    NULL|   NULL|  NULL|      5|    dept5|dept5_loc|
+------+--------+-------+------+-------+---------+---------+

#### FULL JOIN

In [11]:
df.join(df2, df.dept_id == df2.dept_id, 'full').show()

+------+--------+-------+------+-------+---------+---------+
|emp_id|emp_name|dept_id|salary|dept_id|dept_name| dept_loc|
+------+--------+-------+------+-------+---------+---------+
|     1|     AAA|      1|  1000|      1|    dept1|dept1_loc|
|     2|     BBB|      1|  1500|      1|    dept1|dept1_loc|
|     3|     CCC|      1|  3000|      1|    dept1|dept1_loc|
|     4|     DDD|      2|  1500|      2|    dept2|dept2_loc|
|     5|     EEE|      2|  8000|      2|    dept2|dept2_loc|
|     6|     FFF|      3|  2000|      3|    dept3|dept3_loc|
|     7|     GGG|      4|  2500|      4|    dept4|dept4_loc|
|  NULL|    NULL|   NULL|  NULL|      5|    dept5|dept5_loc|
+------+--------+-------+------+-------+---------+---------+

In [12]:
df.createOrReplaceTempView("emp")

In [13]:
spark.sql("select * from emp").show()

+------+--------+-------+------+
|emp_id|emp_name|dept_id|salary|
+------+--------+-------+------+
|     1|     AAA|      1|  1000|
|     2|     BBB|      1|  1500|
|     3|     CCC|      1|  3000|
|     4|     DDD|      2|  1500|
|     5|     EEE|      2|  8000|
|     6|     FFF|      3|  2000|
|     7|     GGG|      4|  2500|
+------+--------+-------+------+

In [33]:
display(df.distinct().count())

7

#### Python UDFs

In [23]:
def raise_salary(salary):
    return int(salary) * 1.10

In [24]:
raise_salary_udf = udf(raise_salary)

In [31]:
from pyspark.sql.functions import col
df.select(raise_salary_udf(col("salary")))

DataFrame[raise_salary(salary): string]